$cardColor: rgb(56, 56, 56);
$textColor: #fff;
$directedColor: rgb(197, 197, 197);
$boxShadowColor: #1e1e1e;

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 16px;
  z-index: 99999999;
  align-items: center;
  height: 45px;
  color: $textColor;
  border-bottom: $boxShadowColor;
  background-color: $cardColor;
}

.logout-button {
  color: $directedColor;
}
