<app-navbar></app-navbar>
<div class="profile-page">
  <mat-card class="profile-card">
    <mat-card-header class="profile-card-header">
      <mat-card-title>Profile of {{ updatedUser.Username }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="user-profile-card-content">
      <form>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="updatedUser.Username"
            value="{{ updatedUser.Username }}"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="updatedUser.Password"
            placeholder=""
            type="password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            [(ngModel)]="updatedUser.Email"
            type="email"
            value="{{ updatedUser.Email }}"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input
            matInput
            [(ngModel)]="updatedUser.Birthday"
            type="date"
            value="{{ updatedUser.Birthday | date }}"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="user-profile-actions">
      <button mat-raised-button (click)="updateUserInfo()" color="basic">
        <mat-icon>edit</mat-icon>
        Update profile
      </button>
      <button mat-raised-button (click)="deleteAccount()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete account
      </button>
    </mat-card-actions>
  </mat-card>
</div>
